* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
          color: #fff;
        }
       

      .hero{
        height:100vh;
        width:100vw;
        background-color: aliceblue;
       }

        .navbar {
          height: 9%;
          width: 100%;
          display: flex;
          background-color: rgb(11,30,22);
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 20px;
          
        }
        .heading{
          font-size: 30px;
          font-weight: 400;
          color: rgb(220, 160, 71);
          margin:0px 10px;
        }
        .dine{
          font-style: italic;   
             }

        .hero-content{
          height: 60vh;
          background-image: url(./heroformobile.png);
          background-size: cover;    
          background-position: center; 
          background-repeat: no-repeat;
          display:flex;
          flex-direction: column;
          justify-content: center;

        }
        #hero-heading{
          
          width: 80vw;
          padding: 10px;
          margin-top:180px ;

        }
        #hero-text{
          font-size: 50px;
          
        }
        .hero-btn{
          padding: 10px;
          margin-top: 20px;
          background-color:rgb(11,30,22) ;
          border-radius: 20px;
        }
        

        

        