@import "tailwindcss";

* {
          
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
        
          
          
        }
       

    body{
      background-color: rgb(248,243,228);
      background-color: rgb(240, 239, 235);

    }  